<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Estado actual de Pago</title>
  <meta charset="utf-8">
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="height:1500px">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a th:href="@{/listar}" class="nav-link">Nueva compra</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/listarProductos}" class="nav-link">tabla de Productos</a>
    </li>
  </ul>
</nav>
<div class="container mt-4"><br><br><br></div>
<div class="container mt-4">
<div class="row">
  <div class="col">
    <form th:object=${persona} >
      <div class="card">
	    <div class="card-header">
	      <h3>Datos del cliente</h3>
	    </div>
	    <div class="card-body">
	      <div class="form-group">
	        <label>Nombres del cliente:</label>
	        <input th:field="*{cliente_nombre}" type="text" class="form-control" readonly />
	      </div>	      
	      <div class="form-group">
	        <label>Apellidos del cliente:</label>
	        <input th:field="*{cliente_apellido}" type="text" class="form-control" readonly />
	      </div>	      
	      <div class="form-group">
	        <label>correo electrónico:</label>
	        <input th:field="*{cliente_correo}" type="text" class="form-control" readonly />
	      </div>
	      <div class="form-group">
	        <label>Número de tarjeta de crédito:</label>
	        <input th:field="*{credito_numero}" type="number" class="form-control" readonly />
	      </div>	      
	      <div class="form-group">
	        <label>fecha de vencimiento:</label>
	        <input th:field="*{tarjeta_vencimiento}" type="date" class="form-control" readonly />
	      </div>
	    </div>
	    <div class="card-footer"></div>
      </div>  
    </form>
  </div>
  <div class="col">
    <form th:object=${persona} >
      <div class="card">
	    <div class="card-header">
	      <h3>Estado actual de Pago</h3>
	    </div>
	    <div class="card-body">
	      <div class="form-group">
	        <label>Id de transferencia:</label>
	        <input th:field="*{id}" type="text" class="form-control" readonly />
	      </div>
	      <div class="form-group">
            <label class="">Nombre del producto:</label>
            <input th:field="*{producto_nombre}" type="text" class="form-control" readonly />
          </div>
	      <div class="form-group">
	        <label>Precio del producto:</label>
	        <input th:field="*{producto_precio}" type="number" class="form-control" readonly />
	      </div>
	      <div class="form-group">
	        <label>Número de cuotas diferidas:</label>
	        <input th:field="*{compra_diferir}" type="text" class="form-control" readonly />
	      </div>
	    </div>
	    <div class="card-footer"></div>
      </div>  
    </form>
    <form th:object=${persona} >
      <div class="card">
	    <div class="card-header">
	    <strong>Notificación de operación.</strong>
	    </div>
	    <div class="card-body">
	    	<p>Los datos están guardados en la base de datos.
	    	Puede estar tranquilo por gestión de su pago.</p>
	    	<p>Muchas gracias por su compra.</p>
	    </div>
	    <div class="card-footer">
	      <a th:href="@{/listar}" class="btn btn-primary">volver a la tabla de compras</a>
	    </div>
      </div>  
    </form>    
  </div>
</div>
</div>
</body>
</html>
