<html>
<head>
<title>confirmacion pago</title>
</head>
<body>
<p id="data" 
   data-title="PAGO FALLIDO"
   data-text="Error al intentar registrar un pago."
   data-icon="error"
   data-button="ok"
   data-res="/listar"
></p>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="notificacion.js"></script>
</html>
